# Configuration de la base de données
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=pointage_db

# Configuration JWT
JWT_SECRET=votre-secret-jwt-super-securise

# Configuration API Hikvision
API_USERNAME=admin
API_PASSWORD=12345

#ACTIVATION_WEBHOOKS
ENABLE_WEBHOOKS=false

# Configuration des notifications
ENABLE_EMAIL_NOTIFICATIONS=false
ENABLE_WEBSOCKET_NOTIFICATIONS=true
ENABLE_PUSH_NOTIFICATIONS=false

# Debug et Performance
ENABLE_WEBHOOK_DEBUG=false  # Mettre à true seulement pour debug
ENABLE_WEBHOOK_SILENT=true  # Mode silencieux complet (aucun log webhook)

# Configuration Email (si ENABLE_EMAIL_NOTIFICATIONS=true)
ADMIN_EMAIL=admin@votreentreprise.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre-email@gmail.com
SMTP_PASS=votre-mot-de-passe-app

# Configuration WebSocket (si ENABLE_WEBSOCKET_NOTIFICATIONS=true)
WEBSOCKET_PORT=8080

# Configuration Push (si ENABLE_PUSH_NOTIFICATIONS=true)
FIREBASE_PROJECT_ID=votre-projet-firebase
FIREBASE_PRIVATE_KEY=votre-cle-privee-firebase
FIREBASE_CLIENT_EMAIL=votre-email-client-firebase

# Configuration du serveur
PORT=8000
NODE_ENV=development

# Configuration CORS
CORS_ORIGIN=http://localhost:3000


